
@{
    ViewData["Title"] = "admin";
    Layout = "~/Views/Shared/_adminLayout.cshtml";

}




<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.min.js"></script>
@if (TempData["Success"] != null)
{
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        Toast.fire({
            icon: "success",
            title: "@TempData["Success"]"
        });
    </script>
}

<div class="row">
    <div class="col-md-12 col-xl-8">
        <div class="card">
            <div class="card-header">
                <h5>Statestics</h5>
                <div class="card-header-left ">
                </div>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="icofont icofont-simple-left "></i></li>
                        <li><i class="icofont icofont-maximize full-card"></i></li>
                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                        <li><i class="icofont icofont-error close-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div id="statestics-chart" style="height:517px;"></div>
            </div>
        </div>
    </div>



    <div class="col-md-12 col-xl-4">
        <div class="card fb-card">
            <div class="card-header">
                <i class="icofont icofont-social-facebook"></i>
                <div class="d-inline-block">
                    <h5>facebook</h5>
                    <span>blog page timeline</span>
                </div>
            </div>
            <div class="card-block text-center">
                <div class="row">
                    <div class="col-6 b-r-default">
                        <h2>23</h2>
                        <p class="text-muted">Active</p>
                    </div>
                    <div class="col-6">
                        <h2>23</h2>
                        <p class="text-muted">Comment</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card dribble-card">
            <div class="card-header">
                <i class="icofont icofont-social-dribbble"></i>
                <div class="d-inline-block">
                    <h5>dribble</h5>
                    <span>Product page analysis</span>
                </div>
            </div>
            <div class="card-block text-center">
                <div class="row">
                    <div class="col-6 b-r-default">
                        <h2>23</h2>
                        <p class="text-muted">Live</p>
                    </div>
                    <div class="col-6">
                        <h2>23</h2>
                        <p class="text-muted">Message</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card twitter-card">
            <div class="card-header">
                <i class="icofont icofont-social-twitter"></i>
                <div class="d-inline-block">
                    <h5>twitter</h5>
                    <span>current new timeline</span>
                </div>
            </div>
            <div class="card-block text-center">
                <div class="row">
                    <div class="col-6 b-r-default">
                        <h2>25</h2>
                        <p class="text-muted">new tweet</p>
                    </div>
                    <div class="col-6">
                        <h2>450+</h2>
                        <p class="text-muted">Follower</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Email Sent End -->
<!-- Data widget start -->
<div class="row">
    <div class="col-md-12 col-xl-6">
        <div class="card project-task">
            <div class="card-header">
                <div class="card-header-left ">
                    <h5>Time spent : project &amp; task</h5>
                </div>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="icofont icofont-simple-left "></i></li>
                        <li><i class="icofont icofont-maximize full-card"></i></li>
                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                        <li><i class="icofont icofont-error close-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block p-b-10">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Project & Task</th>
                                <th>Time Spents</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="task-contain">
                                        <h6 class="bg-c-blue d-inline-block text-center">U</h6>
                                        <p class="d-inline-block m-l-20">UI Design</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="d-inline-block m-r-20">4 : 36</p>
                                    <div class="progress d-inline-block">
                                        <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="task-contain">
                                        <h6 class="bg-c-pink d-inline-block text-center">R</h6>
                                        <p class="d-inline-block m-l-20">Redesign Android App</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="d-inline-block m-r-20">4 : 36</p>
                                    <div class="progress d-inline-block">
                                        <div class="progress-bar bg-c-pink" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="task-contain">
                                        <h6 class="bg-c-yellow d-inline-block text-center">L</h6>
                                        <p class="d-inline-block m-l-20">Logo Design</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="d-inline-block m-r-20">4 : 36</p>
                                    <div class="progress d-inline-block">
                                        <div class="progress-bar bg-c-yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="task-contain">
                                        <h6 class="bg-c-green d-inline-block text-center">A</h6>
                                        <p class="d-inline-block m-l-20">Appestia landing Page</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="d-inline-block m-r-20">4 : 36</p>
                                    <div class="progress d-inline-block">
                                        <div class="progress-bar bg-c-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="task-contain">
                                        <h6 class="bg-c-blue d-inline-block text-center">L</h6>
                                        <p class="d-inline-block m-l-20">Logo Design</p>
                                    </div>
                                </td>
                                <td>
                                    <p class="d-inline-block m-r-20">4 : 36</p>
                                    <div class="progress d-inline-block">
                                        <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

